@media (max-width: 500px) {
  .menu-flutuante ul::before {
    animation: animate 2s linear infinite;
  }

  @keyframes animate {
    0% {
      transform: translatex(-100vw);
    }

    50% {
      transform: translatex(100vw);
    }

    100% {
      transform: translatex(-100vw);
    }

    50% {
      transform: translatex(100vw);
    }

    0% {
      transform: translatex(-100vw);
    }
  }
}

.js .jsMenu {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.5s;
}

.js .jsMenu.menuAtivo {
  opacity: 1;
  transition: 0.5s;
  transform: translate3d(0, 0, 0);
}
