body {
  margin-bottom: 65px;
}
.conteiner {
  margin: 0 40px;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

nav ul {
  display: flex;
}

.icons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: -125px;
}

.icons div {
  align-self: center;
  justify-self: center;
}

.icon-item-1 {
  grid-column: 2;
  grid-row: 1;
}

.icon-item-2 {
  grid-column: 2;
  grid-row: 2;
}

.icon-item-3 {
  grid-column: 6;
  grid-row: 1/-1;
}

.menu-flutuante,
.menu-flutuante ul {
  position: fixed;
  bottom: 0px;
  left: 0px;
  justify-content: space-evenly;
  width: 99vw;
  z-index: 1;
  background: var(--color-0);
  align-items: flex-start;
  gap: top 5px;
}

.menu-flutuante ul::before {
  content: "";
  width: 100vw;
  height: 4px;
  background: linear-gradient(
    90deg,
    var(--color-c),
    var(--color-m),
    var(--color-y)
  );
  background-repeat: repeat;
  position: absolute;
}

.menu-flutuante ul li {
  padding: 0px 10px;
}

.detalhe {
  width: 100%;
  margin: 0px;
}

.sobremim {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.formacao,
.portifolio,
.habilidades,
.contato {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

section h2 {
  justify-self: end;
}

.form-grid,
.port-grid {
  display: grid;
  grid-column: 1/-1;
}

.form-grid {
  gap: 20px 0px;
}

.form-grid li:nth-child(even) {
  justify-self: end;
}

.port-grid p a {
  display: flex;
  align-items: center;
}
.port-grid p img {
  margin: 0 10px;
}

.elem-hab::before {
  content: "";
  height: 124px;
  width: 4px;
  background: linear-gradient(
    180deg,
    var(--color-c),
    var(--color-m),
    var(--color-y)
  );
  position: absolute;
}

.habil-grid {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 4px 1fr;
}

.habil-grid ul {
  display: flex;
  flex-direction: column;
}

.habil-grid ul h3 {
  text-align: center;
  margin: 0px;
}

.habil-grid ul div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 0;
}

.habil-grid ul div li:nth-child(even) {
  justify-self: end;
  /* margin-right: 10px; */
}

.habil-grid ul div li:nth-child(odd) {
  justify-self: start;
}

.text-ul {
  margin: 10px 0 !important;
}

.item-2 {
  text-align: end;
}

.item-1-design:nth-child(even) {
  margin-right: 5px;
}

.item-2-design {
  margin-left: 5px;
}

.contato a {
  text-align: end;
}

.sub-b,
.sub-m {
  display: flex;
  justify-content: center;
}

.telegram {
  margin: 0 4px;
}

.linkBox {
  display: none;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  border: 1px solid;
  z-index: 1;
  position: fixed;
  bottom: 55px;
  right: 5px;
}

.linkBox li {
  display: flex;
  padding: 5px;
  width: 100%;
  justify-content: center;
}

.linkBox a {
  display: flex;
  width: 100%;
  justify-content: center;
}

.open {
  display: flex;
}

.close {
  display: flex;
  z-index: -1;
}

@media (max-width: 400px) {
  .menu-flutuante ul {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .menu-flutuante ul::before {
    width: 300vw;
  }
}

@media (max-width: 600px) {
  .menu-flutuante ul {
    width: 97vw;
  }
  .menu-flutuante ul li {
    padding: 0px;
  }
}
